fastapi
uvicorn
sqlalchemy
pydantic
python-jose
passlib[bcrypt]
requests
python-dotenv
PyJWT
python-multipart
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
openai
apscheduler
